.navbar li {
    margin-right: 20px;
    font-weight: bold;
}

.log-btn {
    outline: none;
    font-weight: bold;
    height: 30px;
    margin: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.li-style:hover {
    color: white;
    border-bottom: 3px solid white;
}